.page-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: $c-dark;
}

.page-overlay--animate {
  z-index: 10;
  animation-name: animateOverlay;
  animation-duration: 0.5s;
  animation-timing-function: $sineOut;
}
